<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyler.inspirationintent">

    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InspirationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".InspirationActivity"
            android:parentActivityName=".InspirationListActivity">
        </activity>
        <activity
            android:name=".InspirationPhotoActivity"
            android:parentActivityName=".InspirationListActivity">
        </activity>
        <activity
            android:name=".InspirationNoteActivity"
            android:parentActivityName=".InspirationListActivity">
        </activity>
        <provider
            android:authorities="com.tyler.inspirationintent.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>

    </application>

</manifest>